.feynman__title {
  margin: 100px 0 0;
  padding: 0;
  position: relative;
  z-index: 3;
  width: 648px;
  align-self: center;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}
