.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 1;
  text-decoration: none;
  align-self: flex-end;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}
