.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  max-width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  left: 64px;
  bottom: 30px;
  z-index: 3;
}
